body {
   background-color: lavender;
   font-family: arial, helvetica, sans-serif;

}
.top {
   background-color: antiquewhite;
   
}
.laba1
{
   background-color: aqua;
    font-family: "Verdana"
}
.laba2
{
   background-color: paleturquoise;
   
}
.laba3
{
   background-color: lightskyblue;
   
}
.dno
{
background-color: firebrick;
    
}
